<%= form_tag '/login' do %>
  <h1>Вход</h1>
  <input type="text" name="username" id="username" placeholder="username"/>
  <input type="password" name="password" id="password" placeholder="Пароль" /><br>
  <input type="submit" name="commit" value="Войти" class = "btn btn-primary" data-disable-with="Попытка входа"/><br /><br />
  <a href="/signup">Регистрация</a>
<% end %>